[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "~=0.21.1"
fastapi = "~=0.95.1"
influxdb-client = "~=1.36.1"
platformshconfig = "~=2.4.0"
kafka-python = "~=2.0.2"

[dev-packages]

[requires]
python_version = "3.11"
